modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]
run = "12/10 11:39pm"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "12/10 11:39pm"]
deploymentTarget = "cloudrun"
